html{
  background-image: url('https://cdn2.hubspot.net/hubfs/500440/Blog_Content/bacon.jpg');
  background-size: cover;
}

body{
  color: #FFFFFF;
}

h1, h2{
  text-align: center;
}

.nav-links{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style: none;
}

.nav-link{
  border: 2px solid red;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.nav-link a{
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 30px;
}
